<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>0</string>
		<key>name</key>
		<string>群众举报</string>
		<key>citylist</key>
		<array>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>待查核</string>
						<key>code</key>
						<string>0</string>
					</dict>
					<dict>
						<key>name</key>
						<string>待反馈</string>
						<key>code</key>
						<string>1</string>
					</dict>
					<dict>
						<key>name</key>
						<string>2</string>
						<key>code</key>
						<string>141034</string>
					</dict>
					<dict>
						<key>name</key>
						<string>处理中</string>
						<key>code</key>
						<string>3</string>
					</dict>
					<dict>
						<key>name</key>
						<string>已处理</string>
						<key>code</key>
						<string>4</string>
					</dict>
				</array>
				<key>name</key>
				<string>我的处理</string>
				<key>code</key>
				<string>0</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>待查核</string>
						<key>code</key>
						<string>0</string>
					</dict>
					<dict>
						<key>name</key>
						<string>待反馈</string>
						<key>code</key>
						<string>1</string>
					</dict>
					<dict>
						<key>name</key>
						<string>2</string>
						<key>code</key>
						<string>141034</string>
					</dict>
					<dict>
						<key>name</key>
						<string>处理中</string>
						<key>code</key>
						<string>3</string>
					</dict>
					<dict>
						<key>name</key>
						<string>已处理</string>
						<key>code</key>
						<string>4</string>
					</dict>
				</array>
				<key>name</key>
				<string>我的上报</string>
				<key>code</key>
				<string>1</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>待查核</string>
						<key>code</key>
						<string>0</string>
					</dict>
					<dict>
						<key>name</key>
						<string>待反馈</string>
						<key>code</key>
						<string>1</string>
					</dict>
					<dict>
						<key>name</key>
						<string>2</string>
						<key>code</key>
						<string>141034</string>
					</dict>
					<dict>
						<key>name</key>
						<string>处理中</string>
						<key>code</key>
						<string>3</string>
					</dict>
					<dict>
						<key>name</key>
						<string>已处理</string>
						<key>code</key>
						<string>4</string>
					</dict>
				</array>
				<key>name</key>
				<string>我的派发</string>
				<key>code</key>
				<string>2</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>待查核</string>
						<key>code</key>
						<string>0</string>
					</dict>
					<dict>
						<key>name</key>
						<string>待反馈</string>
						<key>code</key>
						<string>1</string>
					</dict>
					<dict>
						<key>name</key>
						<string>2</string>
						<key>code</key>
						<string>141034</string>
					</dict>
					<dict>
						<key>name</key>
						<string>处理中</string>
						<key>code</key>
						<string>3</string>
					</dict>
					<dict>
						<key>name</key>
						<string>已处理</string>
						<key>code</key>
						<string>4</string>
					</dict>
				</array>
				<key>name</key>
				<string>我应知晓</string>
				<key>code</key>
				<string>3</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>1</string>
		<key>name</key>
		<string>上报事件</string>
		<key>citylist</key>
		<array>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>待查核</string>
						<key>code</key>
						<string>0</string>
					</dict>
					<dict>
						<key>name</key>
						<string>待反馈</string>
						<key>code</key>
						<string>1</string>
					</dict>
					<dict>
						<key>name</key>
						<string>2</string>
						<key>code</key>
						<string>141034</string>
					</dict>
					<dict>
						<key>name</key>
						<string>处理中</string>
						<key>code</key>
						<string>3</string>
					</dict>
					<dict>
						<key>name</key>
						<string>已处理</string>
						<key>code</key>
						<string>4</string>
					</dict>
				</array>
				<key>name</key>
				<string>我的处理</string>
				<key>code</key>
				<string>0</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>待查核</string>
						<key>code</key>
						<string>0</string>
					</dict>
					<dict>
						<key>name</key>
						<string>待反馈</string>
						<key>code</key>
						<string>1</string>
					</dict>
					<dict>
						<key>name</key>
						<string>2</string>
						<key>code</key>
						<string>141034</string>
					</dict>
					<dict>
						<key>name</key>
						<string>处理中</string>
						<key>code</key>
						<string>3</string>
					</dict>
					<dict>
						<key>name</key>
						<string>已处理</string>
						<key>code</key>
						<string>4</string>
					</dict>
				</array>
				<key>name</key>
				<string>我的上报</string>
				<key>code</key>
				<string>1</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>待查核</string>
						<key>code</key>
						<string>0</string>
					</dict>
					<dict>
						<key>name</key>
						<string>待反馈</string>
						<key>code</key>
						<string>1</string>
					</dict>
					<dict>
						<key>name</key>
						<string>2</string>
						<key>code</key>
						<string>141034</string>
					</dict>
					<dict>
						<key>name</key>
						<string>处理中</string>
						<key>code</key>
						<string>3</string>
					</dict>
					<dict>
						<key>name</key>
						<string>已处理</string>
						<key>code</key>
						<string>4</string>
					</dict>
				</array>
				<key>name</key>
				<string>我的派发</string>
				<key>code</key>
				<string>2</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>待查核</string>
						<key>code</key>
						<string>0</string>
					</dict>
					<dict>
						<key>name</key>
						<string>待反馈</string>
						<key>code</key>
						<string>1</string>
					</dict>
					<dict>
						<key>name</key>
						<string>2</string>
						<key>code</key>
						<string>141034</string>
					</dict>
					<dict>
						<key>name</key>
						<string>处理中</string>
						<key>code</key>
						<string>3</string>
					</dict>
					<dict>
						<key>name</key>
						<string>已处理</string>
						<key>code</key>
						<string>4</string>
					</dict>
				</array>
				<key>name</key>
				<string>我应知晓</string>
				<key>code</key>
				<string>3</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>2</string>
		<key>name</key>
		<string>督办事件</string>
		<key>citylist</key>
		<array>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>待查核</string>
						<key>code</key>
						<string>0</string>
					</dict>
					<dict>
						<key>name</key>
						<string>待反馈</string>
						<key>code</key>
						<string>1</string>
					</dict>
					<dict>
						<key>name</key>
						<string>2</string>
						<key>code</key>
						<string>待处理</string>
					</dict>
					<dict>
						<key>name</key>
						<string>处理中</string>
						<key>code</key>
						<string>3</string>
					</dict>
					<dict>
						<key>name</key>
						<string>已处理</string>
						<key>code</key>
						<string>4</string>
					</dict>
				</array>
				<key>name</key>
				<string>我的处理</string>
				<key>code</key>
				<string>0</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>待查核</string>
						<key>code</key>
						<string>0</string>
					</dict>
					<dict>
						<key>name</key>
						<string>待反馈</string>
						<key>code</key>
						<string>1</string>
					</dict>
					<dict>
						<key>name</key>
						<string>2</string>
						<key>code</key>
						<string>141034</string>
					</dict>
					<dict>
						<key>name</key>
						<string>处理中</string>
						<key>code</key>
						<string>3</string>
					</dict>
					<dict>
						<key>name</key>
						<string>已处理</string>
						<key>code</key>
						<string>4</string>
					</dict>
				</array>
				<key>name</key>
				<string>我的上报</string>
				<key>code</key>
				<string>1</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>待查核</string>
						<key>code</key>
						<string>0</string>
					</dict>
					<dict>
						<key>name</key>
						<string>待反馈</string>
						<key>code</key>
						<string>1</string>
					</dict>
					<dict>
						<key>name</key>
						<string>2</string>
						<key>code</key>
						<string>141034</string>
					</dict>
					<dict>
						<key>name</key>
						<string>处理中</string>
						<key>code</key>
						<string>3</string>
					</dict>
					<dict>
						<key>name</key>
						<string>已处理</string>
						<key>code</key>
						<string>4</string>
					</dict>
				</array>
				<key>name</key>
				<string>我的派发</string>
				<key>code</key>
				<string>2</string>
			</dict>
			<dict>
				<key>arealist</key>
				<array>
					<dict>
						<key>name</key>
						<string>待查核</string>
						<key>code</key>
						<string>0</string>
					</dict>
					<dict>
						<key>name</key>
						<string>待反馈</string>
						<key>code</key>
						<string>1</string>
					</dict>
					<dict>
						<key>name</key>
						<string>2</string>
						<key>code</key>
						<string>141034</string>
					</dict>
					<dict>
						<key>name</key>
						<string>处理中</string>
						<key>code</key>
						<string>3</string>
					</dict>
					<dict>
						<key>name</key>
						<string>已处理</string>
						<key>code</key>
						<string>4</string>
					</dict>
				</array>
				<key>name</key>
				<string>我应知晓</string>
				<key>code</key>
				<string>3</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
